

h3.title {
  color : #4178bc;
    margin-top: -10px;
    margin-bottom: 60px;
    font-size:110%;
}


h4.title {
    margin-top: 50px;
  font-size:75%;
}

h5.title {
    margin-top: 20px;
  font-size:60%;
}



p.title {

  margin-top: 60px;
  font-style: italic;
  font-size:60%;
  float:center;
}

p.cistd {
  font-style: bold;
  margin-top: 0px;
  font-size:55%;
  float:center;
}

p.cistd span {
  display:block;
}

p.cist {
  font-style: bold;
  margin-top: 15px;
  font-size:60%;
  float:center;
}



p.med{
  font-size:85%;
  margin-bottom: 35px;
}

p.med2{
  font-size:75%;
  margin-top: 35px;
  margin-bottom: 10px;
}

p.med3{
  font-size:65%;
  margin-top: 480px;
}

p.medcenter0 {
    margin-top: 40px;
  font-size:100%;
  text-align:center;
}

p.medcenter {
  font-size:85%;
  text-align:left;
}

p.medcentert {
  font-size:70%;
  text-align:left;
}

p.medcenter2 {
  font-size:85%;
  text-align:left;
  margin-top:40px;
}

p.small{
  font-size:70%;
  margin-bottom: 35px;
}


.align{
 float:left;
 margin-top:-20px;
}
.align2{
 float:left;
}

ul.small1 {
  font-size:67%;
  margin-bottom: 5px;
}

ul.small2 {
  font-size:45%;
  margin-top: 0px;
}

ul.small2b {
  font-size:43%;
  margin-top: 0px;
  margin-left:50px;
}

ul.small3 {
  font-size:50%;
  margin-bottom: 50px;
}


ul.med {
  font-size:58%;
}

ul.large{
  font-size:90%;
}

ul.large2{
  font-size:85%;
}

ul.small{
  font-size:85%;
}
.reveal .slides .pucsmall22 {
	font-size: 0.67em;
}


#left {
  left:0%;
  text-align: left;
  float: left;
  width:40%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 0px;
  float: right;
  text-align: left;
  z-index:-10;
  width:60%;
  margin-top:0px;
}


#left2 {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right2 {
  left:31.25%;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
}

#all {

  float: center;
  z-index:-10;
  width:100%;
}


#left3 {
  padding-top: 5px;
  left:35%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right3 {
  left:65%;
  float: right;
  text-align: left;
  z-index:-10;
  width:40%;
}



#left0 {
  left:0%;
  text-align: left;
  float: left;
  width:55%;
  z-index:-10;
}

#right0 {
  left:31.25%;
  top: 0px;
  float: right;
  text-align: left;
  z-index:-10;
  width:45%;
  margin-top:0px;
}



#leftt {

  text-align: center;
  float: left;
  width:40%;
}

#rightt {

  float: right;
  text-align: center;
  width:60%;
}


#leftproj {

  text-align: center;
  float: left;
  width:40%;
}

#rightproj {

  float: right;
  text-align: center;
  width:57%;
}

#leftoth {

  text-align: center;
  float: left;
  width:60%;
}

#rightoth {

  float: right;
  text-align: center;
  width:40%;
}
.reveal .slides h2 { 
  font-size: 130%; 
  text-transform : none;
 
}


p.smallpcenter {
  text-align: center;
	font-size: 0.7em;
}

#codermd {
  float: left;
  width:49%;
}

#codehtml {
  float: right;
  width:49%;
}


#codermd2 {
  float: left;
  width:39%;
  text-align: center;
}


p.medpcenter {
  text-align: center;
	font-size: 0.8em;
}

ul.pucsmall22 {
	font-size: 0.67em;
}


ul.xpucsmall {
	font-size: 0.40em;
	 margin-left:10px;
}


.reveal .slides .xsmallp {
	font-size: 0.5em;
}

#codehtml2 {
  float: right;
  width:50%;
}


.reveal pre code {
    display: block;
    padding: 0px;
    overflow: auto;
    max-height: 371px;
    word-wrap: normal;
    font-size:0.7em;
    background-color: #282828;
    color: #DCDCDC;
}


